{% extends "generic/main/accordion_patches.html" %}

{% block download_href %}#{% endblock %}
{% block modify_patch_href %}#{% endblock %}
{% block view_details_href %}#{% endblock %}

{% block accordion_patches_downloads_extra_classes %}p-0{% endblock %}
{% block accordion_patches_modify_patch_extra_classes %}p-0{% endblock %}
{% block accordion_patches_view_details_extra_classes %}p-0{% endblock %}

{% block accordion_patches_download_size_inline %}xl{% endblock %}
{% block accordion_patches_download_size_none %}xl{% endblock %}
{% block accordion_patches_modify_patch_size_inline %}xl{% endblock %}
{% block accordion_patches_modify_patch_size_none %}xl{% endblock %}
{% block accordion_patches_view_details_size_inline %}xl{% endblock %}
{% block accordion_patches_view_details_size_none %}xl{% endblock %}