<div class="col" hx-swap-oob="true" id="category-select">
    <h6 class="text-center fw-bold mb-0 text-light pb-1 pt-2">Category</h6>
    <select name="selectedCategory" class="form-select custom-select-border" aria-label="Category"
    hx-get="{% url 'filter_patches' %}"
    hx-target="#patch-select"
    hx-trigger="change"
    hx-swap="outerHTML"
    _="on change 
    remove .selected from <option/>
    then add .selected to my.options[my.selectedIndex]">
        {% if amountCat > 0 %}
            <option class="selected" value="any">Any Category</option>
        {% else %}
            <option class="selected" value="none">No matching categories</option>
        {% endif %}
        
        {% for category in top8categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="col" hx-swap-oob="true" id="patch-select">
    <h6 class="text-center fw-bold mb-0 text-light pb-1 pt-2">Base Patch</h6>
    <select name="selectedPatch" class="form-select custom-select-border" aria-label="Base Patch"
    _="on change 
    remove .selected from <option/>
    then add .selected to my.options[my.selectedIndex]">
        {% if amountPat > 0 %}
            <option class="selected" value="any">Any Patch</option>
        {% else %}
            <option class="selected" value="none">No matching patches</option>
        {% endif %}
        
        {% for patch in top8parentpatches %}
            <option value="{{ patch.id }}">{{ patch.name }}</option>
        {% endfor %}
    </select>
</div>
