<div class="col" hx-swap-oob="true" id="patch-select">
    <h6 class="text-center fw-bold mb-0 text-light pb-1 pt-2">Base Patch</h6>
    <select disabled id="patch-select-hx" name="selectedPatch" class="form-select custom-select-border" aria-label="Base Patch"
    _="on change 
        remove .selected from <option/>
        then add .selected to my.options[my.selectedIndex]
        then set #selected-filter's value to 'base_patch'
        then send changed_base_patch to #patch-list-filters">
        {% if amountPat > 0 %}
            <option class="selected" value="any">Any Patch</option>
        {% else %}
            <option class="selected" value="none">No matching patches</option>
        {% endif %}
        
        {% for patch in top8parentpatches %}
            <option value="{{ patch.id }}">{{ patch.name }}</option>
        {% endfor %}
    </select>
</div>