<nav class="row custom-title-bg custom-top-border d-flex align-items-center">
    <div class="d-flex justify-content-between custom-list-header">
        <h3 class="fw-bold mb-0 flex-grow-1 d-flex align-items-center">
            {% block title %}{% endblock %}
        </h3>
        <button type="button" class="btn btn-success mt-1 mb-1 d-none d-sm-block">
            <i class="bi bi-plus-lg"></i>
            <span class="ms-2 text-truncate" title="Create Patch">Create Patch</span>
        </button>
        <button type="button" class="btn btn-success mt-1 mb-1 ms-1 d-sm-none">
            <span title="Create Patch">Create Patch</span>
        </button>
    </div>
</nav>
<div id="patch-list-filters" class="row row-cols-1 row-cols-sm-2 custom-title-bg custom-element-top-border pt-0 pb-2">
    <div class="col" id="game-select">
        <h6 class="text-center fw-bold mb-0 text-light pb-1 pt-2">{% block first_filter %}{% endblock %}</h6>
        <select name="selectedGame" class="form-select custom-select-border" aria-label="{% block first_filter_aria %}{% endblock %}"
            hx-get="{% url 'filter_categories_patches_and_main' %}"
            hx-trigger="change"
            hx-swap="none"
            _="on change 
            remove .selected from <option/>
            then add .selected to my.options[my.selectedIndex]">
            <option value="any" class="selected">Any Game</option>
            {% for topgame in top8games %}
                <option value="{{ topgame.id }}">{{ topgame.title }}</option>
            {% endfor %}
        </select>
    </div>
    {% include 'filters/filter_categories_patches_and_main.html' %}
    <div class="col">
        <div class="row d-flex">
            <div class="align-items-center mb-0 pb-1 pt-2">
                <h6 class="text-center fw-bold text-light mb-0">Sort By
                    <button class="btn p-0 align-items-center" _="on click 
                    if my.firstChild.classList.contains('bi-arrow-down-square-fill')
                        remove .bi-arrow-down-square-fill from my.firstChild
                        add .bi-arrow-up-square-fill to my.firstChild
                        set my.firstChild.title to 'Ascending order'
                    else
                        remove .bi-arrow-up-square-fill from my.firstChild
                        add .bi-arrow-down-square-fill to my.firstChild
                        set my.firstChild.title to 'Descending order'"><i class="bi bi-arrow-down-square-fill" title="Descending order"></i>
                    </button>
                </h6>
            </div>
        </div>
        <select id="sorting-criteria-select" class="form-select custom-select-border" aria-label="Release Date">
            <option value="1">Downloads</option>
            <option value="2">Alphabetically</option>
            <option value="3">Favorites</option>
            <option value="4">Sub-Patches</option>
        </select>
    </div>
</div>