<nav class="row custom-title-bg custom-top-border d-flex align-items-center">
    <div class="d-flex justify-content-between custom-list-header">
        <h3 class="fw-bold mb-0 flex-grow-1 d-flex align-items-center">
            {% block title %}{% endblock %}
        </h3>
        <button type="button" class="btn btn-success mt-1 mb-1 d-none d-sm-block">
            <i class="bi bi-plus-lg"></i>
            <span class="ms-2 text-truncate" title="Create Patch">Create Patch</span>
        </button>
        <button type="button" class="btn btn-success mt-1 mb-1 ms-1 d-sm-none">
            <span title="Create Patch">Create Patch</span>
        </button>
    </div>
</nav>
<div id="patch-list-filters" class="row row-cols-1 row-cols-sm-2 custom-title-bg custom-element-top-border pt-0 pb-2"
    hx-get="{% url 'filter' %}"
    hx-trigger="changed_base_game, changed_category, changed_base_patch, changed_sorting"
    hx-swap="none"
    hx-include="#game-select-hx, #category-select-hx, #patch-select-hx, #sorting-criteria-hx, #sorting-order-hidden, #selected-filter">
    <input type="hidden" id="sorting-order-hidden" name="sorting_order">
    <input type="hidden" id="selected-filter" name="selected_filter">
    <div class="col" id="game-select">
        <h6 class="text-center fw-bold mb-0 text-light pb-1 pt-2">{% block first_filter %}{% endblock %}</h6>
        <select id="game-select-hx" name="selectedGame" class="form-select custom-select-border" aria-label="{% block first_filter_aria %}{% endblock %}"
            _="on change 
                    remove .selected from <option/>
                    then add .selected to my.options[my.selectedIndex]
                    then set #selected-filter's value to 'base_game'
                    then send changed_base_game to #patch-list-filters
                on htmx:afterOnLoad from #patch-list-filters
                    if my.options[my.selectedIndex].value == 'any' or my.options[my.selectedIndex].value == 'none'
                        then set #category-select-hx.disabled to true
                        then set #patch-select-hx.disabled to true
                    else
                        set #category-select-hx.disabled to false">
            <option value="any" class="selected">Any Game</option>
            {% for topgame in top8games %}
                <option value="{{ topgame.id }}">{{ topgame.title }}</option>
            {% endfor %}
        </select>
    </div>
    {% include 'filters/filter.html' %}
    <div class="col" id="sorting-criteria">
        <div class="row d-flex align-items-center mb-0 pb-1 pt-2">
            <h6 class="text-center fw-bold text-light mb-0">Sort By
                <button class="btn p-0 align-items-center"
                _="on click 
                if #sorting-order matches .bi-arrow-down-square-fill
                    remove .bi-arrow-down-square-fill from #sorting-order
                    add .bi-arrow-up-square-fill to #sorting-order
                    set #sorting-order.title to 'Change to descending order'
                    set #sorting-order.value to 'ascending'
                    set #sorting-order-hidden's value to 'ascending'
                    send changed_sorting to #patch-list-filters
                else
                    remove .bi-arrow-up-square-fill from #sorting-order
                    add .bi-arrow-down-square-fill to #sorting-order
                    set #sorting-order.title to 'Change to ascending order'
                    set #sorting-order.value to 'descending'
                    set #sorting-order-hidden's value to 'descending'
                    send changed_sorting to #patch-list-filters end">
                    <i id="sorting-order" class="bi bi-arrow-down-square-fill custom-sorting-icon" value="descending" title="Change to ascending order"></i>
                </button>
            </h6>
        </div>
        <select id="sorting-criteria-hx" name="selectedSorting" class="form-select custom-select-border" aria-label="Sorting"
        _="on change send changed_sorting to #patch-list-filters">
            {% for s in sorting_criteria %}
                <option value="{{ s }}">{{ s }}</option>
            {% endfor %}
        </select>
    </div>
</div>