<div class="row d-flex custom-element-top-border-sidebar">
    <div class="container-fluid custom-hover-scale-110 p-0 custom-main-bg custom-blue-border">
        <div class="fw-bold h5 d-flex justify-content-center align-items-center">
            <div class="text-truncate custom-truncate w-100 text-center custom-lighter-blue-font" title="{% block title %}{% endblock %}">{% block shown_title %}{% endblock %}</div>
        </div>
        <ul class="row row-cols-1 justify-content-center list-unstyled">
            {% block data_list %}{% endblock %}
        </ul>
    </div>
</div>
