    .custom-main-bg {
        background-color: var(--custom-gray) !important;
    }

    .custom-title-bg {
        background-color: var(--custom-darker-gray) !important;
        background-clip: padding-box;
    }

    .custom-navbar-bg{
        background-color: var(--custom-nav-main-color) !important;
    }

    .custom-navbar-darker-bg{
        background-color: var(--custom-nav-darker-color) !important;
    }

    .custom-main-darker-bg{
        background-color: var(--custom-darker-gray) !important;
    }

    .custom-2-5-rem-icon{
        font-size: 2.5rem;
    }

    .custom-2-rem-icon{
        font-size: 2rem;
    }

    .custom-1-75-rem-icon{
        font-size: 1.75rem;
    }

    .custom-top-border{
        border-top: 3px solid var(--custom-nav-darker-color);
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }

    .custom-bottom-border{
        border-bottom: 3px solid var(--custom-nav-darker-color);
        border-bottom-left-radius: 10px !important; 
        border-bottom-right-radius: 10px !important;
        background-color: var(--custom-darker-gray);
    }

    .custom-top-thick-border{
        border-top: 6px solid var(--custom-nav-darker-color);
        border-top-left-radius: 15px !important; 
        border-top-right-radius: 15px !important;
    }

    .custom-bottom-thick-border{
        border-bottom: 6px solid var(--custom-nav-darker-color);
        border-bottom-left-radius: 15px !important; 
        border-bottom-right-radius: 15px !important;
        background-color: var(--custom-darker-gray) !important;
    }

    .custom-element-top-border{
        border-top: 10px solid var(--custom-gray);
    }

    .custom-dark-box{
        border-top: 10px solid var(--custom-relative-gray);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-left: 5px solid var(--custom-relative-gray);
        border-right: 5px solid var(--custom-relative-gray);
        border-bottom: 10px solid var(--custom-relative-gray);
        background-color: var(--custom-relative-gray) !important;
    }

    .custom-bg-relative-gray{
        background-color: var(--custom-relative-gray) !important;
    }

    .custom-element-bottom-border{
        border-bottom: 5px solid var(--custom-gray);
    }

    .custom-element-top-border-sidebar{
        border-top: 10px solid transparent;
    }

    .custom-footer-border{
        border-top: 10px solid var(--custom-nav-darker-color);
    }

    .custom-darker-color-font{
        color: var(--custom-nav-darker-color) !important;
    }

    .custom-color-font{
        color: var(--custom-nav-main-color) !important;
    }

    .custom-lighter-color-font{
        color: var(--custom-nav-lighter-color) !important;
    }

    .custom-mw-85{
        max-width: 85vw;
    }

    .custom-truncate{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .custom-hover-scale-110 {
        transition: transform 0.3s ease !important;
    }

    .custom-hover-scale-110:hover {
        transform: scale(1.10);
    }

    .custom-hover-scale-105 {
        transition: transform 0.3s ease !important;
    }

    .custom-hover-scale-105:hover {
        transform: scale(1.05);
    }

    .custom-color-border{
        border: 5px solid var(--custom-nav-main-color);
        border-radius: 25px;
    }

    .custom-disabled{
        text-decoration: line-through;
        color: var(--custom-disabled-color);
    }

    .custom-hz-888-line{
        border-top: 5px solid var(--custom-lighter-gray);
        width: 100%;
    }

    .custom-vt-888-line{
        border-left: 5px solid var(--custom-lighter-gray);
        height: 100%;
    }

    .custom-hidden{
        display: none;
    }

    .custom-sorting-icon{
        color: var(--custom-sorting-color);
    }

    .custom-sorting-icon:hover{
        color: var(--custom-sorting-hover-color);
    }

    .accordion {
        --bs-accordion-active-color: var(--custom-accordion-active-color);
    }

    .accordion-button {
        flex-direction: column !important;
        align-items: stretch !important;
    }

    .accordion-button::after {
        display:none;
    }

    .accordion-button:not(.collapsed)::after {
        display:none;
    }

    .pre-line {
        white-space: pre-line;
    }

    .custom-img-default-size {
        width: auto !important;
        height: 2rem !important;
    }

    .custom-patch-name-red {
        background-color: darkred;
        color: white;
        font-weight: bold;
    }

    ul.list-unstyled > li {
        min-width: 0;
    }

    @media (max-width: 1200px) {
        .custom-2-5-rem-icon {
            font-size: 1.90rem;
        }
    }

    @media (max-width: 575.98px) { 
        .custom-modal-width {
            max-width: 95% !important;
        }
        .custom-smaller-font {
            font-size: 0.75rem;
        }
    }

    @media (max-width: 991.98px) {
        .custom-modal-width {
            max-width: 90% !important;
        }
    }

    @media (max-width: 336px) {
        .custom-2-rem-icon {
            font-size: 1.5rem;
        }
        .custom-list-header h3{
            font-size: 1.25rem;
        }

    }

    @media (max-width: 276px) {
        .custom-2-rem-icon {
            font-size: 1rem;
        }
        .custom-2-5-rem-icon {
            font-size: 1.25rem;
        }
    }