:root {
    --custom-light-gray: rgb(100, 100, 100);
    --custom-gray: rgb(75, 75, 75);
    --custom-darker-gray: rgb(60, 60, 60);
    --custom-nav-main-color: rgb(8, 112, 64);
    --custom-nav-darker-color: rgb(6, 84, 58);
    --custom-nav-lighter-color: rgb(20, 190, 120);
    --custom-sorting-color: rgb(0, 255, 156);
    --custom-sorting-hover-color: rgb(0, 127, 64);
    --custom-disabled-color: grey;
    --custom-accordion-active-color: rgb(255, 218, 106);
  }