:root {
    --custom-light-gray: rgb(88, 88, 88);
    --custom-gray: rgb(66, 66, 66);
    --custom-darker-gray: rgb(44, 44, 44);
    --custom-nav-main-color: rgb(8, 85, 148);
    --custom-nav-darker-color: rgb(6, 75, 118);
    --custom-nav-lighter-color: rgb(20, 150, 225);
    --custom-sorting-color: cyan;
    --custom-sorting-hover-color: rgb(0, 127, 255);
    --custom-disabled-color: grey;
    --custom-accordion-active-color: cyan;
  }