<div class="container-fluid" style="background-color: rgb(88, 88, 88);">
    <div class="row d-flex">
        <div class="container-fluid">
            <div class="text-light p-2 d-flex justify-content-center"><h2 class="fw-bold text-light fw-light">Randomizer</h2></div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 p-3 mb-2 bg-dark text-white border border-4 border-black rounded">
                    <ul class="row row-cols-2 list-unstyled" style="margin-bottom: 0.5rem;">
                        <li class="col d-sm-flex d-none d-sm-block justify-content-center align-items-center"><i class="bi bi-bandaid-fill"></i> <span class="ms-2">Sub-Patches:</span><span class="ms-2">23</span></li>
                        <li class="col d-sm-flex d-none d-sm-block justify-content-center align-items-center"><i class="bi bi-heart-fill"></i> <span class="ms-2">Favorites:</span><span class="ms-2">58</span></li>
                    </ul>
                    <ul class="row row-cols-1 list-unstyled" style="margin-bottom: 0.5rem;">
                        <li class="col d-flex d-sm-none justify-content-center align-items-center"><i class="bi bi-bandaid-fill"></i> <span class="ms-2">Sub-Patches:</span><span class="ms-2">23</span></li>
                        <li class="col d-flex d-sm-none justify-content-center align-items-center"><i class="bi bi-heart-fill"></i> <span class="ms-2">Favorites:</span><span class="ms-2">58</span></li>
                    </ul>
                    <ul class="row row-cols-1 justify-content-center list-unstyled" style="margin-bottom: 0rem;">
                        <li class="col d-sm-flex d-none d-sm-block justify-content-center align-items-center">
                            <img src="/static/pokemon_yellow_mini.png" aria-label="Pokemon Yellow" alt="Pokemon Yellow" class="img-fluid bd-placeholder-img" style="width: auto; height: 2rem;"/>
                            <title>"Pokemon Yellow"</title>
                            <span class="ms-2 fw-bold h3">Pokemon Yellow</span>
                        </li>
                        <li class="col d-flex d-sm-none justify-content-center align-items-center">
                            <img src="/static/pokemon_yellow_mini.png" aria-label="Pokemon Yellow" alt="Pokemon Yellow" class="img-fluid bd-placeholder-img" style="width: auto; height: 1.5rem;">
                            <title>"Pokemon Yellow"</title>
                            <span class="ms-2 h5">Pokemon Yellow</span>
                        </li>
                    </ul>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>