{% load custom_functions %}

<div class="col d-flex justify-content-around">
    {% include "generic/accordion/accordion_generic_button.html" with href="#" button_color="success" extra_btn_classes="p-0" extra_a_classes="pe-1 col-4" size_inline="xl" size_none="xl" text="Download" text_short="Get" icon="bi-download" hs_code="" %}
    {% include 'generic/accordion/accordion_generic_button.html' with href="#" button_color="secondary" extra_btn_classes="p-0" extra_a_classes="col-4" size_inline="xl" size_none="xl" text="Modify Patch" text_short="Edit" icon="bi-bandaid-fill" hs_code="" %}
    {% with extra_btn_attributes="data-bs-toggle=modal data-bs-target=#active_modal" %}
        {% include 'generic/accordion/accordion_generic_button_modal.html' with href="#" button_color="warning" extra_btn_attributes=extra_btn_attributes extra_btn_classes="p-0" extra_a_classes="ps-1 col-4" size_inline="xl" size_none="xl" text="View Details" text_short="View" icon="bi-card-text" hs_code="" selectedElem="selectedPatch" elem_id=patch.id content="patches" %}
    {% endwith %}
</div>