{% extends "generic/main/main_element.html" %}

{% block accordion_button_bs_target %}collapse-{{ data.patch.id }}{% endblock %}
{% block accordion_button_bs_target_aria %}collapse-{{ data.patch.id }}{% endblock %}
{% block accordion_body_id %}collapse-{{ data.patch.id }}{% endblock %}

{% block hs_layout %}{% if display_mode == 'double' %}patches-main-layout-double{% elif display_mode == 'single' %}patches-main-layout-single{% endif %}{% endblock %}

{% block image_src %}{{ data.game.image_ref }}{% endblock %}
{% block image_alt %}{{ data.game.title }}{% endblock %}
{% block image_title %}{{ data.game.title }}{% endblock %}
{% block image_aria %}{{ data.game.title }}{% endblock %}
{% block main_title %}{{ data.patch.name }}{% endblock %}
{% block shown_title %}{{ data.patch.name }}{% endblock %}

{% block data_list %}

{% if sorting_by == 'Favorites' %}   
    {% include 'patches/main_elements_sorting/favorites.html' with strong="true" %}
    {% include 'patches/main_elements_sorting/downloads.html' with strong="false" %}
    {% include 'patches/main_elements_sorting/creator.html' with strong="false" %}
{% elif sorting_by == 'Downloads' %}
    {% include 'patches/main_elements_sorting/downloads.html' with strong="true" %}
    {% include 'patches/main_elements_sorting/creator.html' with strong="false" %}
    {% include 'patches/main_elements_sorting/favorites.html' with strong="false" %}
{% elif sorting_by == 'Name' %}
    {% include 'patches/main_elements_sorting/downloads.html' with strong="false" %}
    {% include 'patches/main_elements_sorting/creator.html' with strong="false" %}
    {% include 'patches/main_elements_sorting/favorites.html' with strong="false" %}
{% elif sorting_by == 'Creation Date' %}
    {% include 'patches/main_elements_sorting/created_on.html' with strong="true" %}
    {% include 'patches/main_elements_sorting/downloads.html' with strong="false" %}
    {% include 'patches/main_elements_sorting/creator.html' with strong="false" %}
    {% include 'patches/main_elements_sorting/favorites.html' with strong="false" %}
{% elif sorting_by == 'Sub-patches' %}
    {% include 'patches/main_elements_sorting/sub_patches.html' with strong="true" %}
    {% include 'patches/main_elements_sorting/downloads.html' with strong="false" %}
    {% include 'patches/main_elements_sorting/creator.html' with strong="false" %}
    {% include 'patches/main_elements_sorting/favorites.html' with strong="false" %}
{% endif %}
    {% include 'patches/main_elements_sorting/categories.html' with strong="false" %}
{% endblock %}

{% block data_bs_parent %}{% if display_mode == 'double' %}patches-main-layout-double{% elif display_mode == 'single' %}patches-main-layout-single{% endif %}{% endblock %}

{% block accordion_body %}{% include 'patches/main_accordion_buttons.html' %}{% endblock %}