<div class="row d-flex">
    <div class="container-fluid">
        <div class="row p-3 mb-2 custom-main-bg text-white border border-4 border-black rounded">
            <div class="col-6 d-sm-flex d-none d-sm-block justify-content-center align-items-center">
                <img src="/static/images/pokemon_yellow_mini.png" aria-label="Pokemon Yellow" alt="Pokemon Yellow" class="img-fluid bd-placeholder-img" style="width: auto; height: 4rem;"/>
                <title>"Pokemon Yellow"</title>
                <div class="row row-cols-1">
                    <span class="col ms-2 fw-bold h1 d-flex justify-content-center align-items-center">Faster Game Yellow</span>
                    <div class="col d-flex justify-content-center align-items-center">
                        <i class="bi bi-download"></i> <strong class="ms-2">Downloads:</strong><strong class="ms-2">412</strong>
                    </div>
                </div>
            </div>
            <div class="col-6 container-fluid">
                <ul class="row row-cols-2 list-unstyled">
                    <li class="col d-none d-sm-block d-sm-flex justify-content-center align-items-center"><i class="bi bi-calendar3"></i> <span class="ms-2">Created:</span><span class="ms-2">16/03/2024</span></li>
                    <li class="col d-flex d-sm-none justify-content-center align-items-center"><i class="bi bi-calendar3"></i> <span class="ms-2">16/03/2024</span></li>
                    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-bandaid-fill"></i> <span class="ms-2">Sub-Patches:</span><span class="ms-2">23</span></li>
                    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-person-fill"></i> <span class="ms-2">Pum</span></li>
                    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-heart-fill"></i> <span class="ms-2">Favorites:</span><span class="ms-2">58</span></li>
                    <li class="col d-none d-sm-block d-sm-flex justify-content-center align-items-center"><i class="bi bi-bookmark-fill"></i> <span class="ms-2">Category:</span><span class="ms-2 fw-bold text-decoration-underline">Enhancements</span></li>
                    <li class="col d-flex d-sm-none justify-content-center align-items-center"><i class="bi bi-bookmark-fill"></i> <span class="ms-2 fw-bold text-decoration-underline">Enhancements</span></li>
                <ul/>
            </div>
        </div>
    </div>
</div>