{% if display_mode == 'double' %}

    <div class="col-6 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>
    <div class="col-6 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>
    <div class="col-6 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>
    <div class="col-6 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>
    <div class="col-6 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>
    <div class="col-6 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>

{% elif display_mode == 'single' %}

    <div class="col-12 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>
    <div class="col-12 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>
    <div class="col-12 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>
    <div class="col-12 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>
    <div class="col-12 p-0">
      {% include 'patches/patch_main_element.html' %}
    </div>

{% endif %}