{% extends "generic/main_element.html" %}

{% block title %}Patches{% endblock %}

{% block image_src %}/static/images/pokemon_yellow_front.webp{% endblock %}
{% block image_alt %}Pokemon Yellow{% endblock %}
{% block image_title %}Pokemon Yellow{% endblock %}
{% block image_aria %}Pokemon Yellow{% endblock %}
{% block main_title %}Faster Game Yellow{% endblock %}
{% block shown_title %}Faster Game Yellow{% endblock %}
{% block downloads %}412{% endblock %}
{% block user %}Pum{% endblock %}
{% block favorites %}58{% endblock %}
{% block category %}Enhancements{% endblock %}