{% extends "generic/main_layout.html" %}

{% block list_url_double %}{% url 'patch_list' %}{% endblock %}
{% block includes_double %}#game-select-hx, #category-select-hx, #patch-select-hx, #patch-pagination, #sorting-order-hidden, #sorting-criteria-hx{% endblock %}
{% block main_element_double %}{% include 'patches/patch_main_element.html' %}{% endblock %}

{% block list_url_single %}{% url 'patch_list' %}{% endblock %}
{% block includes_single %}#game-select-hx, #category-select-hx, #patch-select-hx, #patch-pagination, #sorting-order-hidden, #sorting-criteria-hx{% endblock %}
{% block main_element_single %}{% include 'patches/patch_main_element.html' %}{% endblock %}