{% extends "generic/main/main_element.html" %}

{% block image_src %}{{ data.game.image_ref }}{% endblock %}
{% block image_alt %}{{ data.game.title }}{% endblock %}
{% block image_title %}{{ data.game.title }}{% endblock %}
{% block image_aria %}{{ data.game.title }}{% endblock %}
{% block main_title %}{{ data.patch.name }}{% endblock %}
{% block shown_title %}{{ data.patch.name }}{% endblock %}

{% block data_list %}

{% if sorting_by == 'Favorites' %}   
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-heart-fill"></i> <strong class="ms-2">Favorites:</strong><strong class="ms-2">{{ data.patch.favorites }}</strong></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-download"></i> <span class="ms-2">Downloads:</span><span class="ms-2">{{ data.patch.downloads }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-person-fill"></i> <span class="ms-2">{{ data.patch.creator }}</span></li>
    <li class="col d-flex justify-content-center align-items-center" title="{{ data.categories }}" ><i class="bi bi-bookmark-fill"></i> <span class="text-truncate custom-truncate ms-2 fw-bold text-decoration-underline">{{ data.categories }}</span></li>
{% elif sorting_by == 'Downloads' %}
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-download"></i> <strong class="ms-2">Downloads:</strong><strong class="ms-2">{{ data.patch.downloads }}</strong></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-person-fill"></i> <span class="ms-2">{{ data.patch.creator }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-heart-fill"></i> <span class="ms-2">Favorites:</span><span class="ms-2">{{ data.patch.favorites }}</span></li>
    <li class="col d-flex justify-content-center align-items-center" title="{{ data.categories }}" ><i class="bi bi-bookmark-fill"></i> <span class="text-truncate custom-truncate ms-2 fw-bold text-decoration-underline">{{ data.categories }}</span></li>
{% elif sorting_by == 'Name' %}
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-download"></i> <span class="ms-2">Downloads:</span><span class="ms-2">{{ data.patch.downloads }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-person-fill"></i> <span class="ms-2">{{ data.patch.creator }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-heart-fill"></i> <span class="ms-2">Favorites:</span><span class="ms-2">{{ data.patch.favorites }}</span></li>
    <li class="col d-flex justify-content-center align-items-center" title="{{ data.categories }}" ><i class="bi bi-bookmark-fill"></i> <span class="text-truncate custom-truncate ms-2 fw-bold text-decoration-underline">{{ data.categories }}</span></li>
{% elif sorting_by == 'Creation Date' %}
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-calendar3"></i> <strong class="ms-2">Created on:</strong><strong class="ms-2">{{ data.patch.creation_date }}</strong></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-download"></i> <span class="ms-2">Downloads:</span><span class="ms-2">{{ data.patch.downloads }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-person-fill"></i> <span class="ms-2">{{ data.patch.creator }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-heart-fill"></i> <span class="ms-2">Favorites:</spa><span class="ms-2">{{ data.patch.favorites }}</span></li>
    <li class="col d-flex justify-content-center align-items-center" title="{{ data.categories }}" ><i class="bi bi-bookmark-fill"></i> <span class="text-truncate custom-truncate ms-2 fw-bold text-decoration-underline">{{ data.categories }}</span></li>
{% elif sorting_by == 'Sub-patches' %}
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-bandaid-fill"></i> <strong class="ms-2">Sub-Patches:</strong><strong class="ms-2">{{ data.subpatches_amount }}</strong></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-download"></i> <span class="ms-2">Downloads:</span><span class="ms-2">{{ data.patch.downloads }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-person-fill"></i> <span class="ms-2">{{ data.patch.creator }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-heart-fill"></i> <span class="ms-2">Favorites:</span><span class="ms-2">{{ data.patch.favorites }}</span></li>
    <li class="col d-flex justify-content-center align-items-center" title="{{ data.categories }}" ><i class="bi bi-bookmark-fill"></i> <span class="text-truncate custom-truncate ms-2 fw-bold text-decoration-underline">{{ data.categories }}</span></li>
{% endif %}

{% endblock %}