{% extends "generic/sidebar_element.html" %}

{% block title %}{{ data.patch.name }}{% endblock %}
{% block shown_title %}{{ data.patch.name }}{% endblock %}
{% block image_src %}{{ data.game.image_mini_ref }}{% endblock %}
{% block image_alt %}{{ data.game.title }}{% endblock %}
{% block image_aria %}{{ data.game.title }}{% endblock %}
{% block image_title %}{{ data.game.title }}{% endblock %}
{% block span_title %}{{ data.game.title }}{% endblock %}
{% block span_shown_title %}{{ data.game.title }}{% endblock %}
{% block downloads %}{{ data.patch.downloads }}{% endblock %}
{% block user %}{{ data.patch.creator }}{% endblock %}
{% block category %}{{ data.categories }}{% endblock %}
