{% extends "generic/sidebar_element.html" %}

{% block title %}{{ data.category.name }}{% endblock %}
{% block shown_title %}{{ data.category.name }}{% endblock %}

{% block hs_code %}
    on click
    set #game-select-hx's value to '{{ data.base_game.id }}'
    then set #selected-filter's value to 'base_game'
    then send changed_base_game to #patch-list-filters
    then wait for a htmx:afterSettle from #patch-list-filters or 1s
    then set #category-select-hx's value to '{{ data.category.id }}'
    then set #selected-filter's value to 'category'
    then send changed_category to #patch-list-filters
{% endblock %}

{% block button_title %}Load Category into filter{% endblock %}

{% block data_list %}
    <li class="col d-flex justify-content-center align-items-center">
        <img src="{{ data.base_game.image_mini_ref }}" aria-label="{{ data.base_game.title }}" alt="{{ data.base_game.title }}" class="img-fluid bd-placeholder-img" title="{{ data.base_game.title }}" style="width: auto; height: 2rem;"/>
        <span class="ms-2 fw-bold h6 text-truncate" title="{{ data.base_game.title }}">{{ data.base_game.title }}</span>
    </li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-bandaid-fill"></i><span class="ms-2">Patches: {{ data.patches_amount }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-calendar3"></i> <span class="ms-2">Last Patch: {{ data.latest_patch}}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-gear-fill"></i> <span class="ms-2">Patch Options: {{ data.patch_options_amount }}</span></li>
{% endblock %}