{% extends "generic/sidebar/sidebar_element.html" %}

{% block title %}{{ data.game.title }}{% endblock %}
{% block shown_title %}{{ data.game.title }}{% endblock %}

{% block accordion_button_bs_target %}collapse-{{ data.game.id }}{% endblock %}
{% block accordion_button_bs_target_aria %}collapse-{{ data.game.id }}{% endblock %}
{% block accordion_body_id %}collapse-{{ data.game.id }}{% endblock %}
{% block sidebar_layout_id %}main-sidebar-first{% endblock %}

{% block htmx %}
{% endblock %}

{% block hs_code %}
{% endblock %}

{% block button_title %}Load Game into filter{% endblock %}

{% block data_list %}
    <li class="col d-flex justify-content-center align-items-center">
        <img src="{{ data.game.image_mini_ref }}" aria-label="{{ data.game.title }}" alt="{{ data.game.title }}" class="img-fluid bd-placeholder-img" title="{{ data.game.title }}" style="width: auto; height: 2rem;"/>
    </li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-bandaid-fill"></i><span class="text-truncate custom-truncate ms-2" title="{{ data.patches_amount }}">Patches: {{ data.patches_amount }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"
    _="on load
    set sw to the scrollWidth of the first <span/> in me
    set cw to the clientWidth of the first <span/> in me
    if sw > cw then hide the first <span/> in me"><i class="bi bi-calendar3" title="Last patch"></i> <span class="text-truncate custom-truncate ms-2">Last patch:</span><span class="ms-2" title="{{ data.latest_patch }}">{{ data.latest_patch }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-bookmark-fill"></i> <span class="text-truncate custom-truncate ms-2" title="{{ data.categories_amount }}">Categories: {{ data.categories_amount }}</span></li>
{% endblock %}

{% block accordion_body %}{% include 'patches/sidebar/first/sidebar_accordion_buttons.html' with game=data.game category=data.category %}{% endblock %}