{% extends "generic/filters/filter_element.html" %}

{% block swap_oob %}{% endblock %}
{% block element_id %}type-select{% endblock %}
{% block h6_text %}Type{% endblock %}
{% block is_disabled %}{% endblock %}
{% block element_id_select %}type-select-hx{% endblock %}
{% block element_name_select %}selectedType{% endblock %}
{% block element_id_aria_label %}Type{% endblock %}

{% block hs_code %}
on change 
    remove .selected from <option/>
    then add .selected to my.options[my.selectedIndex]
    then send changed_type to #game-list-filters
{% endblock %}

{% block any_none %}
    {% if amountTyp > 0 %}
        <option class="selected" value="any">Any Type</option>
    {% else %}
        <option class="selected" value="none">No matching types</option>
    {% endif %}
{% endblock %}

{% block top8 %}
    {% for type in top8types %}
        <option value="{{ type }}">{{ type }}</option>
    {% endfor %}
{% endblock %}
