{% load custom_functions %}

{% if extravars.primary %}
    <div class="custom-patch-options-nav-div btn btn-outline-primary my-2 fw-bold"
{% elif parent %}
    <div class="btn btn-warning my-2 fw-bold"
{% else %}
    <div class="btn btn-outline-info my-2 fw-bold"
{% endif %}
{% if patch %}
    hx-get="{% url 'patch_generator_load_data' %}?parent={{ cat.id }}&patch={{ patch.id }}"
{% else %}
    hx-get="{% url 'patch_generator_load_data' %}?parent={{ cat.id }}"
{% endif %}
hx-trigger="custom_proceed"
hx-target="#loaded_patch_list_data"
hx-swap="beforeend"
_="{% if cat in extravars.modified_categories %}
        on load
            if #patch_options_list_data_{{ cat.id }} does not exist
                then 
                    send custom_proceed to me
                    add .custom-active to #loaded_patch_list_data
        end
        on htmx:afterOnLoad
            call hideNavs()
            show #patch_options_list_data_{{ cat.id }}
            show #patch_options_list_nav_{{ cat.id }}
            remove .btn-outline-primary from me
            add .btn-warning to me
        end
    {% endif %}
    {% if extravars.selected_category == cat or extravars.selected_category|iscategoryparent:cat %}
        on load
            if #patch_options_list_data_{{ cat.id }} does not exist
                then
                    send custom_proceed to me
                    then add .custom-active to #loaded_patch_list_data end
        end
        on htmx:afterOnLoad
            call hideNavs()
            show #patch_options_list_data_{{ cat.id }}
            show #patch_options_list_nav_{{ cat.id }}
        end
    {% endif %}
    on click
    if #loaded_patch_list_data does not match .custom-active
        then add .custom-active to #loaded_patch_list_data end
    if #patch_name_input's value is not '' and #patch_name_input's value is not 'Name your patch'
        then remove @disabled from #generate_patch_button end
    if I match .custom-patch-options-nav-div
        set allBtns to <div.custom-patch-options-nav-div/>
        repeat in allBtns
            remove .btn-warning from it
            add .btn-outline-primary to it
        end
        remove .btn-outline-primary from me
        add .btn-warning to me
    end
    call hideNavs()
    if #patch_options_list_data_{{ cat.id }} does not exist
        then send custom_proceed to me
    else
        show #patch_options_list_data_{{ cat.id }}
        show #patch_options_list_nav_{{ cat.id }}">{{ cat.name }}</div>
    {% if parent %}
        <i class="mx-1 bi bi-chevron-double-right d-flex align-items-center"></i>
    {% endif %}

<script type="text/hyperscript">
    def hideNavs()
        set allListDivs to <div.custom-active-patch-options-list/>
        set allNavDivs to <div.custom-active-patch-options-nav/>
        repeat in allListDivs
            hide it 
        end
        repeat in allNavDivs
            hide it unless it matches #patch_options_list_nav_primary
        end
    end
</script>