<div class="col d-flex justify-content-around">
    <a class="d-flex col-4" href="{% block download_href %}{% endblock %}" style="text-decoration: none;">
        <button type="button" class="btn btn-outline-primary border-4 fw-bold flex-grow-1 {% block accordion_patches_downloads_extra_classes %}{% endblock %}">
            <i class="bi bi-download"></i>
            <span class="d-none d-{% block accordion_patches_download_size_inline %}{% endblock %}-inline">Download</span>
            <span class="d-{% block accordion_patches_download_size_none %}{% endblock %}-none">Get</span>
        </button>
    </a>
    <a class="d-flex col-4 px-1" href="{% block modify_patch_href %}{% endblock %}" style="text-decoration: none;">
        <button type="button" class="btn btn-outline-secondary border-4 fw-bold flex-grow-1 {% block accordion_patches_modify_patch_extra_classes %}{% endblock %}">
            <i class="bi bi-gear-fill"></i>
            <span class="d-none d-{% block accordion_patches_modify_patch_size_inline %}{% endblock %}-inline">Modify patch</span>
            <span class="d-{% block accordion_patches_modify_patch_size_none %}{% endblock %}-none">Edit</span>
        </button>
    </a>
    <a class="d-flex col-4" href="{% block view_details_href %}{% endblock %}" style="text-decoration: none;">
        <button type="button" class="btn btn-outline-info border-4 fw-bold flex-grow-1 {% block accordion_patches_view_details_extra_classes %}{% endblock %}">
            <i class="bi bi-card-text"></i>
            <span class="d-none d-{% block accordion_patches_view_details_size_inline %}{% endblock %}-inline">View details</span>
            <span class="d-{% block accordion_patches_view_details_size_none %}{% endblock %}-none">View</span>
        </button>
    </a>
</div>

