{% extends 'base.html' %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="container-fluid bg-dark pt-3 ps-0 pe-0 custom-mw-85">
        <div class="row justify-content-around">
            <div class="col-12 col-lg-8 p-0 flex grow-0 shrink-0 mx-auto">
                <div class="container-fluid bg-dark">
                    {% block list_navbar %}{% endblock %}
                    <div id="{% block main_layout_double_id %}{% endblock %}" class="row d-none d-xxl-flex custom-bottom-border pb-2">
                        {% block main_layout_double %}{% endblock %}
                    </div>
                    <div id="{% block main_layout_single_id %}{% endblock %}" class="row d-flex d-xxl-none custom-bottom-border pb-2">
                        {% block main_layout_single %}{% endblock %}
                    </div>
                    {% block pagination %}{% endblock %}
                </div>
            </div>
            <div class="row d-none d-lg-flex col-3 p-0 flex grow-0 shrink-0 mx-auto">
                {% block sidebar_layout %}{% endblock %}
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}