<div class="row d-flex container-fluid custom-element-top-border-sidebar p-0 ms-3">
    <div class="accordion-header container-fluid custom-hover-scale-110 p-0 custom-main-bg custom-blue-border">
        <button type="button" class="d-flex accordion-button collapsed container-fluid border-0 bg-transparent text-decoration-none p-0" title="{% block button_title %}{% endblock %}" data-bs-toggle="collapse" data-bs-target="#{% block accordion_button_bs_target %}{% endblock %}" aria-expanded="true" aria-controls="{% block accordion_button_bs_target_aria %}{% endblock %}"
            {% block htmx %}{% endblock %}
            _="{% block hs_code %}{% endblock %}">
            <div class="fw-bold h5 d-flex justify-content-center align-items-center">
                <div class="text-truncate custom-truncate w-100 text-center custom-lighter-blue-font" title="{% block title %}{% endblock %}">{% block shown_title %}{% endblock %}</div>
            </div>
            <ul class="row row-cols-1 justify-content-center list-unstyled">
                {% block data_list %}{% endblock %}
            </ul>
        </button>
    </div>
    <div id="{% block accordion_body_id %}{% endblock %}" class="accordion-collapse collapse" data-bs-parent="#{% block sidebar_layout_id %}{% endblock %}">
        <div class="accordion-body">
            {% block accordion_body %}{% endblock %}
        </div>
    </div>
</div>
