{% extends "generic/sidebar/sidebar_element.html" %}

{% block title %}{{ data.category.name }}{% endblock %}
{% block shown_title %}{{ data.category.name }}{% endblock %}

{% block accordion_button_bs_target %}collapse-{{ data.category.id }}{% endblock %}
{% block accordion_button_bs_target_aria %}collapse-{{ data.category.id }}{% endblock %}
{% block accordion_body_id %}collapse-{{ data.category.id }}{% endblock %}

{% block htmx %}
{% endblock %}

{% block hs_code %}
{% endblock %}

{% block button_title %}Show Category data{% endblock %}

{% block data_list %}
    <li class="col d-flex justify-content-center align-items-center">
        <img src="{{ data.base_game.image_mini_ref }}" aria-label="{{ data.base_game.title }}" alt="{{ data.base_game.title }}" class="img-fluid bd-placeholder-img" title="{{ data.base_game.title }}" style="width: auto; height: 2rem;"/>
        <span class="ms-2 fw-bold h6 text-truncate" title="{{ data.base_game.title }}">{{ data.base_game.title }}</span>
    </li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-bandaid-fill"></i><span class="ms-2">Patches: {{ data.patches_amount }}</span></li>
    <li class="col d-flex justify-content-center align-items-center" title="{{ data.latest_patch.creation_date }}"
    _="on load
        set sw to the scrollWidth of the first <span/> in me
        set cw to the clientWidth of the first <span/> in me
        if sw > cw then hide the first <span/> in me"><i class="bi bi-calendar3" title="Latest patch's creation date"></i> <span class="ms-2 text-truncate custom-truncate">Last Patch:</span><span class="ms-2 text-truncate custom-truncate">{{ data.latest_patch.name }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-gear-fill"></i> <span class="ms-2">Patch Options: {{ data.patch_options_amount }}</span></li>
{% endblock %}