{% extends "generic/main/main_element.html" %}

{% block image_src %}{{ data.game.image_ref }}{% endblock %}
{% block image_alt %}{{ data.game.title }}{% endblock %}
{% block image_title %}{{ data.game.title }}{% endblock %}
{% block image_aria %}{{ data.game.title }}{% endblock %}
{% block main_title %}{{ data.game.title }}{% endblock %}
{% block shown_title %}{{ data.game.title }}{% endblock %}

{% block data_list %}

{% if sorting_by == 'Patches' %}   
    {% include 'games/main_elements_sorting/total_patches.html' with strong='true' %}
    {% include 'games/main_elements_sorting/total_categories.html' with strong='false' %}
    {% include 'games/main_elements_sorting/last_patch.html' with strong='false' %}
{% elif sorting_by == 'Categories' %}
    {% include 'games/main_elements_sorting/total_categories.html' with strong='true' %}
    {% include 'games/main_elements_sorting/total_patches.html' with strong='false' %}
    {% include 'games/main_elements_sorting/last_patch.html' with strong='false' %}
{% elif sorting_by == 'Name' %}
    {% include 'games/main_elements_sorting/total_categories.html' with strong='false' %}
    {% include 'games/main_elements_sorting/total_patches.html' with strong='false' %}
    {% include 'games/main_elements_sorting/last_patch.html' with strong='false' %}
{% elif sorting_by == 'Release Date' %}
    {% include 'games/main_elements_sorting/release_date.html' with strong='true' %}
    {% include 'games/main_elements_sorting/total_categories.html' with strong='false' %}
    {% include 'games/main_elements_sorting/total_patches.html' with strong='false' %}
    {% include 'games/main_elements_sorting/last_patch.html' with strong='false' %}
{% elif sorting_by == 'Latest Patch' %}
    {% include 'games/main_elements_sorting/last_patch.html' with strong='true' %}
    {% include 'games/main_elements_sorting/created_on.html' with strong='false' %}
    {% include 'games/main_elements_sorting/total_categories.html' with strong='false' %}
    {% include 'games/main_elements_sorting/total_patches.html' with strong='false' %}
{% endif %}
    {% include 'games/main_elements_sorting/top_category.html' with strong='false' %}
{% endblock %}