{% extends 'generic/main/main.html' %}

{% block list_navbar %}{% include 'games/games_list_navbar.html' %}{% endblock %}
{% block main_layout_double %}{% include 'games/games_main_layout.html' with display_mode="double" %}{% endblock %}
{% block main_layout_single %}{% include 'games/games_main_layout.html' with display_mode="single" %}{% endblock %}
{% block main_layout_double_id %}games-main-layout-double{% endblock %}
{% block main_layout_single_id %}games-main-layout-single{% endblock %}
{% block pagination %}{% include 'games/game_pagination.html' %}{% endblock %}
{% block sidebar_layout %}{% include 'games/games_sidebar_layout.html' %}{% endblock %}
