<div class="d-flex justify-content-around">
    <a href="#"><button type="button" class="btn btn-info"><i class="bi bi-card-text"></i> View details</button></a>
    <a href="/patches/?selectedGame={{ data.game.id }}" 
    _="on click
    put 'run' into localStorage['external_filtering']
    put '{{ data.game.id }}' into localStorage['game_id']
    put 'any' into localStorage['category_id']
    put 'any' into localStorage['patch_id']
    "><button type="button" class="btn btn-primary"><i class="bi bi-bandaid-fill"></i> View patches</button></a>
    <a href="#"><button type="button" class="btn btn-success"><i class="bi bi-plus-lg"></i> Create patch</button></a>
</div>
