<div class="container-fluid" style="background-color: rgb(88, 88, 88);">
    <div class="row d-flex">
        <div class="container-fluid">
            <div class="text-light p-2 d-flex justify-content-center">
                <img src="/static/pokemon_yellow_mini.png" aria-label="Pokemon Yellow" alt="Pokemon Yellow" class="bd-placeholder-img" style="width: auto; height: 2rem;">
                <title>"Pokemon Yellow"</title>
                <h2 class="fw-bold text-light fw-light">Pokemon Yellow</h2>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 p-3 mb-2 bg-dark text-white border border-4 border-black rounded"
                _="on mouseenter wait 0.25s then add .d-sm-block to .custom-hide
                on mouseenter wait 0.25s then add .d-sm-flex to .custom-hide
                on mouseenter wait 0.25s then remove .d-none from .custom-hide-sm
                on mouseenter wait 0.25s then add .d-flex to .custom-hide-sm
                on mouseleave wait 0.25s then remove .d-sm-block from .custom-hide
                on mouseleave wait 0.25s then remove .d-sm-flex from .custom-hide
                on mouseleave wait 0.25s then remove .d-flex from .custom-hide-sm
                on mouseleave wait 0.25s then add .d-none to .custom-hide-sm">
                    <ul class="row row-cols-1 justify-content-center list-unstyled" style="margin-bottom: 0.5rem;">
                        <li class="col d-sm-flex d-none d-sm-block justify-content-center align-items-center"><i class="bi bi-gear"></i> <span class="ms-2">Configurations:</span><span class="ms-2">82</span></li>
                        <li class="col d-flex d-sm-none justify-content-center align-items-center"><i class="bi bi-gear"></i> <span class="ms-2">Configs:</span><span class="ms-2">82</span></li>
                        <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-bandaid-fill"></i> <span class="ms-2">Patches:</span><span class="ms-2">59</span></li>
                        <li class="col d-none custom-hide justify-content-center align-items-center"><i class="bi bi-calendar3"></i> <span class="ms-2">Added:</span><span class="ms-2">17/05/2024</span></li>
                        <li class="col d-none d-sm-none custom-hide-sm justify-content-center align-items-center"><i class="bi bi-calendar3"></i> <span class="ms-2">17/05/2024</span></li>
                        <li class="col d-sm-flex d-none d-sm-block justify-content-center align-items-center"><i class="bi bi-person-heart"></i> <span class="ms-2">Biggest contributor:</span><span class="ms-2">Pum</span></li>
                        <li class="col d-flex d-sm-none justify-content-center align-items-center"><i class="bi bi-person-heart"></i><span class="ms-2">Pum</span></li>
                        <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-bookmark-fill"></i> <span class="ms-2">Categories:</span><span class="ms-2">4</span></li>
                    </ul>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>