{% extends "generic/main/main_element.html" %}

{% block accordion_button_bs_target %}collapse-{{ data.game.id }}{% endblock %}
{% block accordion_button_bs_target_aria %}collapse-{{ data.game.id }}{% endblock %}
{% block accordion_body_id %}collapse-{{ data.game.id }}{% endblock %}

{% block hs_layout %}games-main-layout{% endblock %}

{% block image_src %}{{ data.game.image_ref }}{% endblock %}
{% block image_alt %}{{ data.game.title }}{% endblock %}
{% block image_title %}{{ data.game.title }}{% endblock %}
{% block image_aria %}{{ data.game.title }}{% endblock %}
{% block main_title %}{{ data.game.title }}{% endblock %}
{% block shown_title %}{{ data.game.title }}{% endblock %}

{% block data_list %}

{% if sorting_by == 'Patches' %}   
    {% include 'games/main_elements_sorting/total_patches.html' with tag="strong" game=data.game %}
    {% include 'games/main_elements_sorting/total_categories.html' with tag="span" game=data.game %}
    {% include 'games/main_elements_sorting/last_patch.html' with tag="span" game=data.game %}
{% elif sorting_by == 'Categories' %}
    {% include 'games/main_elements_sorting/total_categories.html' with tag="strong" game=data.game %}
    {% include 'games/main_elements_sorting/total_patches.html' with tag="span" game=data.game %}
    {% include 'games/main_elements_sorting/last_patch.html' with tag="span" game=data.game %}
{% elif sorting_by == 'Name' %}
    {% include 'games/main_elements_sorting/total_categories.html' with tag="span" game=data.game %}
    {% include 'games/main_elements_sorting/total_patches.html' with tag="span" game=data.game %}
    {% include 'games/main_elements_sorting/last_patch.html' with tag="span" game=data.game %}
{% elif sorting_by == 'Release Date' %}
    {% include 'games/main_elements_sorting/release_date.html' with tag="strong" game=data.game %}
    {% include 'games/main_elements_sorting/total_categories.html' with tag="span" game=data.game %}
    {% include 'games/main_elements_sorting/total_patches.html' with tag="span" game=data.game %}
    {% include 'games/main_elements_sorting/last_patch.html' with tag="span" game=data.game %}
{% elif sorting_by == 'Latest Patch' %}
    {% include 'games/main_elements_sorting/last_patch.html' with tag="strong" game=data.game %}
    {% include 'games/main_elements_sorting/created_on.html' with tag="span" game=data.game %}
    {% include 'games/main_elements_sorting/total_categories.html' with tag="span" game=data.game %}
    {% include 'games/main_elements_sorting/total_patches.html' with tag="span" game=data.game %}
{% endif %}
    {% include 'games/main_elements_sorting/top_category.html' with tag="span" game=data.game %}
{% endblock %}

{% block full_accordion_body %}{% include 'games/main_accordion_body.html' %}{% endblock %}

