{% load custom_functions %}

{% block nav_item %}
<li class="nav-item">
  <a class="nav-link fw-bold enabled {{ extra_classes }}" href="{{ href }}"
     _="on mouseenter toggle {% if extravars.nav_main_color %}{{ extravars.nav_main_color }}{% else %}.bg-primary{% endif %} .border .rounded until mouseleave
        on load
        set pageURL to window.location.href
        set mytext to '{{ item_text|lower }}'
        if pageURL includes mytext then add {% if extravars.nav_text_color %}{{ extravars.nav_text_color }}{% else %}.text-info{% endif %} to me else add .text-light to me">{{ item_text|undertowhite }}</a>
</li>
{% endblock %}