<header>
  <nav class="navbar navbar-expand-lg navbar-dark custom-navbar-bg p-0 fixed-top">
    <div class="container-fluid d-flex flex-wrap justify-content-center">
      <a class="navbar-brand d-flex fw-bold text-light me-0" href="#">
        <i class="bi bi-bandaid-fill custom-2-5-rem-icon"></i>
      </a>
      <div class="col-lg-9 col-md-6 offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">IPSHub.org</h5>
          <button type="button" class="btn-close btn-close-white border border-4 rounded custom-title-bg" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#offcanvasNavbar"></button>
        </div>
        <hr class="d-lg-none text-white-50">
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1 justify-content-evenly align-items-center d-none d-xl-flex">
            {% include 'navbar_item.html' with item_text="Patches" extra_classes="d-none d-xl-block fs-4" href="/patches/" %}
            {% include 'navbar_item.html' with item_text="Patch_Generator" extra_classes="d-none d-xl-block fs-4" href="/patch_generator/" %}
            {% include 'navbar_item.html' with item_text="Games" extra_classes="d-none d-xl-block fs-4" href="/games/" %}
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1 justify-content-evenly align-items-center d-flex d-xl-none">
            {% include 'navbar_item.html' with item_text="Patches" extra_classes="d-xl-none fs-5" href="/patches/" %}
            {% include 'navbar_item.html' with item_text="Patch_Generator" extra_classes="d-xl-none fs-5" href="/patch_generator/" %}
            {% include 'navbar_item.html' with item_text="Games" extra_classes="d-xl-none fs-5" href="/games/" %}
          </ul>
          <hr class="d-lg-none text-white-50">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link align-items-center" href="#" target="_blank">
                <i class="bi bi-twitter d-none d-xl-flex custom-2-5-rem-icon"></i>
                <i class="bi bi-twitter d-xl-none d-flex custom-1-75-rem-icon"></i>
                <strong class="d-lg-none ms-2">Twitter/X</strong>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-none d-xl-flex align-items-center" href="https://github.com/PurnPum/IPSHub" target="_blank">
                <i class="bi bi-github custom-2-5-rem-icon"></i>
                <strong class="d-lg-none ms-2">GitHub</strong>
              </a>
              <a class="nav-link d-xl-none d-flex align-items-center" href="https://github.com/PurnPum/IPSHub" target="_blank">
                <i class="bi bi-github custom-1-75-rem-icon"></i>
                <strong class="d-lg-none ms-2">GitHub</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button class="col-lg-1 col-md-2 btn btn-outline-light fw-bold btn-sm my-1 mx-1 border-4 rounded flex-shrink-1 flex-grow-1" type="search">
        <span class="d-none d-sm-block d-lg-none fs-5">Search...</span>
        <span class="d-none d-lg-block d-xl-none fs-6">Search</span>
        <span class="d-none d-xl-block d-xxl-none fs-5">Search</span>
        <span class="d-none d-xxl-block fs-5">Search...</span>
        <i class="bi bi-search d-sm-none custom-2-rem-icon img-fluid"></i>
      </button>
      <button class="col-lg-1 col-md-2 btn btn-outline-light fw-bold btn-sm my-1 mx-1 border-4 rounded flex-shrink-1 flex-grow-1" type="login">
        <span class="d-none d-sm-block d-lg-none fs-5">Log in</span>
        <span class="d-none d-lg-block d-xl-none fs-6">Login</span>
        <span class="d-none d-xl-block d-xxl-none fs-5">Login</span>
        <span class="d-none d-xxl-block fs-5">Log in</span>
        <i class="flex bi bi-person-circle d-sm-none custom-2-rem-icon img-fluid"></i>
      </button>
      <button class="col-lg-1 col-md-2 navbar-toggler border-0 p-0 flex-shrink-1 flex-grow-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation" data-bs-placement="end">
        <span class="custom-2-rem-icon navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>