<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand d-none d-xl-block fw-bold text-light" href="#">
      <i class="bi bi-bandaid-fill" style="font-size: 40px;"></i>
    </a>
    <a class="navbar-brand d-xl-none fw-bold text-light" href="#">
      <i class="bi bi-bandaid-fill" style="font-size: 35px;"></i>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation" data-bs-placement="end">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">IPSHub.org</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#offcanvasNavbar"></button>
        </div>
        <hr class="d-lg-none text-white-50">
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1 d-flex justify-content-evenly">
            <li class="nav-item">
              <a class="nav-link d-none d-xl-block fw-bold text-light enabled fs-3" href="#">Categories</a>
              <a class="nav-link d-xl-none fw-bold text-light enabled fs-4" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-none d-xl-block fw-bold text-info enabled fs-3" href="#">Patches</a>
              <a class="nav-link d-xl-none fw-bold text-info enabled fs-4" href="#">Patches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-none d-xl-block fw-bold text-light fs-3" href="#">Patch Generator</a>
              <a class="nav-link d-xl-none fw-bold text-light fs-4" href="#">Patch Generator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-none d-xl-block fw-bold text-light fs-3" href="#">Games</a>
              <a class="nav-link d-xl-none fw-bold text-light fs-4" href="#">Games</a>
            </li>
          </ul>
          <hr class="d-lg-none text-white-50">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link d-none d-xl-block" href="#" target="_blank">
                <i class="bi bi-twitter" style="color: white; font-size: 50px;"></i>
              </a>
              <a class="nav-link d-xl-none" href="#" target="_blank">
                <i class="bi bi-twitter" style="color: white; font-size: 40px;"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-none d-xl-block" href="https://github.com/PurnPum/IPSHub" target="_blank">
                <i class="bi bi-github" style="color: white; font-size: 50px;"></i>
              </a>
              <a class="nav-link d-xl-none" href="https://github.com/PurnPum/IPSHub" target="_blank">
                <i class="bi bi-github" style="color: white; font-size: 40px;"></i>
              </a>
            </li>
          </ul>
            <button class="btn btn-outline-dark fw-bold btn-sm my-1 fs-5" type="search">
              <span>Search...</span>
            </button>
            <div class="ps-3"></div>
            <button class="btn btn-outline-dark fw-bold btn-sm my-1 fs-5" type="login">
              <span>Login</span>
            </button>
          </div>
        </div>
      </div>
  </div>
</nav>