{% extends "generic/sidebar/sidebar_element.html" %}

{% block title %}{{ data.patch.name }}{% endblock %}
{% block shown_title %}{{ data.patch.name }}{% endblock %}

{% block accordion_button_bs_target %}collapse-{{ data.patch.id }}{% endblock %}
{% block accordion_button_bs_target_aria %}collapse-{{ data.patch.id }}{% endblock %}
{% block accordion_body_id %}collapse-{{ data.patch.id }}{% endblock %}
{% block sidebar_layout_id %}main-sidebar-first{% endblock %}

{% block htmx %}
{% endblock %}

{% block hs_code %}
{% endblock %}

{% block button_title %}Open Patch{% endblock %}

{% block data_list %}
    <li class="col d-flex justify-content-center align-items-center">
        <img src="{{ data.base_game.image_mini_ref }}" aria-label="{{ data.base_game.title }}" alt="{{ data.base_game.title }}" class="img-fluid bd-placeholder-img" title="{{ data.base_game.title }}" style="width: auto; height: 2rem;"/>
        <span class="ms-2 fw-bold h6 text-truncate" title="{{ data.base_game.title }}">{{ data.base_game.title }}</span>
    </li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-download"></i><span class="text-truncate custom-truncate ms-2" title="{{ data.patch.downloads }}">Downloads: {{ data.patch.downloads }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"><i class="bi bi-heart-fill"></i> <span class="text-truncate custom-truncate ms-2" title="{{ data.patch.favorites }}">Favorites: {{ data.patch.favorites }}</span></li>
    <li class="col d-flex justify-content-center align-items-center"
    _="on load
    set sw to the scrollWidth of the first <span/> in me
    set cw to the clientWidth of the first <span/> in me
    if sw > cw then hide the first <span/> in me"><i class="bi bi-bookmark-fill"></i> <span class="text-truncate custom-truncate ms-2" title="Main categories for this patch">Categories:</span><span class="text-truncate custom-truncate ms-2" title="{{ data.categories }}">{{ data.categories }}</span></li>
{% endblock %}

{% block accordion_body %}{% include 'games/sidebar/first/sidebar_accordion_buttons.html' %}{% endblock %}