<div class="modal-dialog custom-modal-width" style="max-width: 80%;">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="active_modal_title" class="modal-title fw-bold">{% block label_title %}{% endblock %}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% block modal_body %}{% endblock %}
        </div>
        <div class="modal-footer">
            {% block modal_buttons %}{% endblock %}
        </div>
    </div>
</div>