<div class="card mb-1">
    <div class="card-body">
        <h5 class="card-title">Latest Patch</h5>
        <table class="table m-0">
            <tbody>
                <tr>
                    <td class="d-none d-sm-table-cell"><img src="{{ patch_img }}" aria-label="{{ element.title }}" alt="{{ element.title }}" class="bd-placeholder-img custom-img-default-size"/></td>
                    <td>{{ latest_patch.name }}</td>
                    <td>{{ latest_patch.creation_date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>