<div id="comment_list" class="comments-list">
    {% for comment in latest_comments %}
        <div class="comment">
            <p>
                <strong>{{ comment.author.username }}</strong>
                <span title="{{ comment.created|date:'M d, Y H:i' }}">
                    {{ comment.created|timesince }} ago
                </span>
            </p>
            <p>{{ comment.comment }}</p>
            <div class="d-flex">
                <form hx-post="{% url 'like_patch_comment' comment.id %}" hx-swap="innerHTML" hx-target="#like_comment_{{ comment.id }}_button" class="mb-0"
                _="on htmx:afterRequest if detail.elt.tagName == 'FORM' then send update_dislikes to #dislike_comment_{{ comment.id }}_button">
                    {% csrf_token %}
                    <div hx-get="{% url 'update_likes_patch_comment' comment.id %}" hx-target="this" hx-trigger="update_likes" id="like_comment_{{ comment.id }}_button">
                        {% include 'generic/modal/components/modal_like_comment_button.html' with dislike="False" element=comment %}
                    </div>
                </form>
                <form hx-post="{% url 'dislike_patch_comment' comment.id %}" hx-swap="innerHTML" hx-target="#dislike_comment_{{ comment.id }}_button" class="mb-0"
                _="on htmx:afterRequest if detail.elt.tagName == 'FORM' then send update_likes to #like_comment_{{ comment.id }}_button">
                    {% csrf_token %}
                    <div hx-get="{% url 'update_dislikes_patch_comment' comment.id %}" hx-target="this" hx-trigger="update_dislikes" id="dislike_comment_{{ comment.id }}_button">
                        {% include 'generic/modal/components/modal_like_comment_button.html' with dislike="True" element=comment %}
                    </div>
                </form>
            </div>
        </div>
        <hr>
    {% empty %}
        <p>No comments yet. Be the first to comment!</p>
    {% endfor %}
    {% if latest_comments.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if latest_comments.has_previous %}
                    <li class="page-item">
                        <a class="page-link" hx-get="{% url 'refresh_patch_comments' element.id %}?page={{ latest_comments.previous_page_number }}" href="{% url 'refresh_patch_comments' element.id %}?page={{ latest_comments.previous_page_number }}" hx-target="#comment_list" hx-swap="outerHTML" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in latest_comments.paginator.page_range %}
                    {% if latest_comments.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" hx-get="{% url 'refresh_patch_comments' element.id %}?page={{ num }}" href="{% url 'refresh_patch_comments' element.id %}?page={{ num }}" hx-target="#comment_list" hx-swap="outerHTML">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if latest_comments.has_next %}
                    <li class="page-item">
                        <a class="page-link" hx-get="{% url 'refresh_patch_comments' element.id %}?page={{ latest_comments.next_page_number }}" href="{% url 'refresh_patch_comments' element.id %}?page={{ latest_comments.next_page_number }}" hx-target="#comment_list" hx-swap="outerHTML" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>