{% extends "generic/filters/list_navbar.html" %}

{% block title %}Games{% endblock %}

{% block create_patch_button_color %}success{% endblock %}

{% block list_filters_id %}game-list-filters{% endblock %}
{% block list_filters_url %}{% url 'game_filter' %}{% endblock %}
{% block list_filters_trigger %}changed_developer, changed_emulator, changed_type, changed_sorting{% endblock %}
{% block list_filters_include %}#developer-select-hx, #emulator-select-hx, #type-select-hx, #sorting-criteria-hx, #sorting-order-hidden, #selected-filter{% endblock %}
{% block list_filters %}{% include 'games/filters/filter_all_no_main.html' %}{% endblock %}
{% block list_filters_target %}#games-main-layout-single{% endblock %}

{% block first_filter %}Developer{% endblock %}
{% block second_filter %}Best Emulator{% endblock %}
{% block third_filter %}Type{% endblock %}
{% block first_filter_aria %}Developer{% endblock %}
{% block second_filter_aria %}Best Emulator{% endblock %}
{% block third_filter_aria %}Type{% endblock %}

{% block hs_code %}{% endblock %}