<div class="col" id="{% block sorting_id %}{% endblock %}">
    <div class="row d-flex align-items-center mb-0 pb-1 pt-2">
        <h6 class="text-center fw-bold text-light mb-0">{% block h6_text %}{% endblock %}
            <button class="btn p-0 align-items-center"
            _="{% block hs_code %}{% endblock %}">
                <i id="{% block sorting_icon_id %}{% endblock %}" class="bi bi-arrow-down-square-fill custom-sorting-icon" value="descending" title="Change to ascending order"></i>
            </button>
        </h6>
    </div>
    <select id="{% block sorting_id_select %}{% endblock %}" name="{% block sorting_name_select %}{% endblock %}" class="form-select custom-select-border" aria-label="Sorting"
    _="{% block hs_code_select %}{% endblock %}">
        {% block sorting_list %}{% endblock %}
    </select>
</div>